name: farm

services:
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    container_name: minio
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin@123
    volumes:
      - ./data:/minio/minio/data
      - ./config:/opt/minio/minio/config
    ports:
      - '9000:9000'
      - '9001:9001'
    command: minio server /minio/minio/data --console-address ":9001"

volumes:
  data:
    driver: local
  config:
    driver: local